.container {
    margin-top: -100px;
    margin-bottom: 100px;
}

.title {
    font-weight: 600;
    font-size: 52px;
    line-height: 48px;
    color: #F5F5F5;
    margin: 200px 0 0;
}

.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 56px;
}

.contentWrap {
    margin-left: -1px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.yellow {
    color: #F3FC8A;
}

@media (min-width: 1440px) {

    .container {
        margin-top: -400px;
        margin-bottom: 100px;
    }

    .title {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .description {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 0;
        background-color: transparent;
    }

    .wrap{
        display: grid;
        grid-template-columns: repeat(4, 318px);
        grid-column-gap: 24px;
        grid-template-rows: 468px;
        column-gap: 24px;
    }

    .contentWrap {
        display: grid;
        grid-template-columns: repeat(4, 318px);
        grid-template-rows: repeat(2, 104px);
        column-gap: 24px;
        row-gap: 24px;
        width: 1344px;
    }
}
