.containerHome {
    margin-top: -100px;
    margin-bottom: 100px;
}
.containerCases {
    margin-top: -9rem;
    margin-bottom: 5rem;
}

.title {
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 48px;
    color: #F5F5F5;
    margin: 200px 0 0;
}

.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 24px 0 56px;
}

.contentWrap {
    margin-left: -1px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.yellow {
    color: #F3FC8A;
}

@media (min-width: 1440px) {

    .containerHome {
        margin-top: 130px;
        margin-bottom: 345px;
    }

    .containerCases{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .descriptionBlock{
        display: grid;
        grid-template-columns: repeat(2, 41.25rem);
        row-gap: 5rem;
        column-gap: 1.5rem ;
        margin-bottom: 5rem;
    }

    .title {
        font-size: 72px;
        line-height: 80px;
        letter-spacing: -0.04em;
        margin:0;

        grid-column-start: 1;
        grid-column-end: 2;
        align-self: center;
    }


    .description {
        display: block;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.2px;

        grid-column-start: 2;
        grid-column-end: 3;
        align-self: end;
        margin-bottom: -9px;
        background-color: transparent;
    }
.wrap {
    justify-self: center;
    height: 660px;


}

    .casesWrap{
        display: grid;
        grid-template-columns: repeat(2, 41.25rem);
        row-gap: 5rem;
        column-gap: 1.5rem ;
    }
    /*.wrap{
        display: grid;
        grid-template-columns: repeat(4, 318px);
        grid-column-gap: 24px;
        grid-template-rows: 468px;
        column-gap: 24px;
    }*/

    .contentWrap {
        display: grid;
        grid-template-columns: repeat(4, 318px);
        grid-template-rows: repeat(2, 104px);
        column-gap: 24px;
        row-gap: 24px;
        width: 1344px;
    }
}
