.mobileContainer {
    display: flex;
    height: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    margin-top: 1.29rem;
}

.mobileText {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 0 12px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.0225rem;
}
.desktopContainer {
    display: none;
}

@media (min-width: 1440px) {
    .mobileContainer {
        display: none;
    }
    .desktopContainer {
        display: flex;
        margin-top: 34px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        letter-spacing: -0.0125rem;

        color: #F5F5F5;
    }

    .inactive {
        color: #A9A9A9;
    }

    .desktopContainer a p {
        margin: 0;
    }

    .divider {
        margin: 0 8px;
    }
}