.block p {
    font-weight: 500;
    font-size: 20px;
}

.large p {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    margin: 0;
}

.block{
     border-radius: 120px;
    width: 100% !important;
    height: 100%;

    display: flex;
     justify-content: center;
     align-items: center;

 }