.block p {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Space-Grotesk', sans-serif;
}


.block{
     border-radius: 120px;
    width: 100% !important;
    height: 100%;

    display: flex;
     justify-content: center;
     align-items: center;

 }