.width {
    width: 100%;
    overflow: hidden;
    color: black;
}

.marqueeHead {
    display: flex;
    max-width: 80%;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    animation: marqueeHEAD 10s linear infinite;
}

.marqueeFoot {
    display:flex;
    max-width: 80%;
    font-size: 24px;
    line-height: 24px;
    animation: marqueeFOOT 7s linear infinite;
}

.marqueeHead .marqueeText {
    padding: 0 12px 0 12px;
}

.marqueeFoot .marqueeText {
    padding: 0 28px 0 28px;
}

.marqueeFoot .line {
    padding-top: 30px;
    padding-bottom: 30px;
}

.line {
    display: flex;
    max-width: 500%;
    background-color: #F3FC8A;
    padding-top: 12px;
    padding-bottom: 12px;
}

.marqueeContent {
    display: flex;
    height: 20px;
    width: 150%;
    overflow: hidden;
}

.marqueeText {
    white-space: nowrap;
    margin:0;
    padding: 0 73px 0 !important;
    overflow: hidden;
}

@keyframes marqueeHEAD {
    0% {
        transform: translateX(-0%);
    }
    100% {
        transform: translateX(-705px);
    }
}
@keyframes marqueeFOOT {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-603px);
    }
}