.title {
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #F5F5F5;
    margin: 0;
}

.wrap {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
}

.bio {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 64px;
}

.bio p:first-child {
    margin-bottom: 24px;
}

.button {
    width: 343px;
    height: 56px;
}

@media (min-width: 1440px) {
    .wrap {
        display: grid;
    }

    .title {
        font-size: 104px;
        line-height: 0.92;
        width: 1230px;
    }

     .button {
        width: 178px;
        grid-column: 1 / span 4;
         margin: 0;
    }

    .bio {
        width: 280px;
        height: 48px;
        grid-column: 8 / span 2;
        margin: 0;
    }
}