.title {
    font-size: 3.4rem;
    font-family: 'Space-Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: -0.15rem;
    color: #F5F5F5;
    margin: 0 0 2.5rem;
}

.wrap {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
}

.bio {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 2.6rem;
}

.bio p:first-child {
    margin-bottom: 24px;
}

.button {
    width: 343px;
    height: 56px;
}

@media (min-width: 1440px) {
    .wrap {
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(12, 90px);
        grid-gap: 24px;
        grid-template-rows: 265px;
    }

    .title {
        font-size: 6.5rem;

        font-style: normal;
        font-weight: 600;
        line-height: 6rem;
        letter-spacing: -0.26rem;

        width: 1230px;
        margin-bottom: 0;
    }

     .button {
        width: 178px;
         height:56px;
        grid-column: 1 / span 2;
         margin: 0;
         grid-row: 1;
    }

    .bio {
        margin-top: -12px;
        margin-bottom: 300px;
        width: 280px;
        height: 265px;

        font-size: 14px;
        line-height: 20px;

        letter-spacing: -0.2px;


        grid-column: 7 / span 2;
        padding:0;
    }
}