.wrap {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #0E0E0E;
}

.title {
    font-size: 16px;
    line-height: 24px;
    margin-right: 4px;
}

.description {
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: #A9A9A9;
    margin-right: 2px;
    letter-spacing: 0.06em;
}

@media (min-width: 1440px) {
    .wrap {
        width: 1344px;
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(12, 90px);
        grid-gap: 24px;
        grid-template-rows: 56px;
    }

    .headerContent {
        grid-column: 1 / span 2;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.02em;
        margin-top: 14px;
        margin-bottom: 8px;

    }

    .description {
        margin-top: 8px;
    }

    .menu {
        display: flex;
        height: 44px;
        width: 217px;
        justify-content: space-between;
        grid-column: 7;
        align-self: center;
    }

    .active::after {
        display: block;
        content: url("./../../media/activeDecor.svg");
        height: 12px;
        margin-bottom: -30px;
        padding-bottom: -30px;
        width: 44px;
    }

    .headerButton {
        width: 168px;
        height: 56px;
        grid-column: 12 ;
        justify-self: end;
    }
}