.wrap {
    padding: 80px 0 24px;
}

.buttons{
    margin-top: 40px;

    height: 56px;
    display: flex;
    justify-content: space-between;
}

.callToAction {
    font-weight: 600;
    font-size: 62px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
    width: 312px;
}

.contactsItem {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    color: #A9A9A9;
}
.contactsLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    color: #F5F5F5;

    margin: 8px 0 0;
    display: inline-block;
}

.credentials {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #A9A9A9;

    margin: 56px 0 0;

    display: flex;
    justify-content: space-between;
}

.underlined {
    text-decoration: underline;
}

.cv {
    display: block;
    width: 163.5px;
    height: 56px;
}
.contact {
    width: 163.5px;
    height: 56px;
}

@media (min-width: 1440px) {
    .contact {
        display: block;
        width: 432px;
        height: 56px;
        border-radius: 120px;
    }

    .cv {
        display: block;
        width: 204px;
        height: 56px;
    }

    .buttons{
        display: flex;
        margin:0px;
        flex-direction: row;
        width: 660px;
    }

    .reachMe {
        display: flex;
        width: 100%;
        height: 56px;
        justify-content: space-between;

        margin-top: 56px;
    }

    .contacts{
        margin: 0;
        width: 370px;
    }

    .contacts div:first-child {
        margin-right: 126px;
    }
}